<div id="contact">
<div class="container">
  <div class="contact">
<form (ngSubmit)="processForm()">
  <div class="form-group">
    <label class="label">name</label>
    <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email" [(ngModel)]="email" required  #emailInput="ngModel">
  </div>
  <div class="form-group">
    <label for="">your message</label>
    <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message" [(ngModel)]="message" required  #messageInput="ngModel"></textarea>
  </div>
  <button id="send" type="submit" class="btn btn-primary">send</button>
</form>
</div>
</div>
</div>
